# EDA & t-test

#### nyc_citibike.csv 를 이용해 'Pershing Square North' 와 'Broadway & E 22 St ' 의 주행시간(trip_duration)  의 평균이 같은지 알아보는 t-test 를 진행해보세요. 
#### 조건)

>* 주행시간의 단위는 분(min) 으로 계산한다. 
>* 'Pershing Square North' 와 'Broadway & E 22 St ' 은 반납지점을 의미한다.
>* 각 지점에서 반납한 자전거의 주행시간은 독립이라고 가정한다.
>* t-test 를 진행하기 전 관련 변수에 관해 EDA 를 진행한다.

### EDA
조건에 맞게 데이터를 가공하고 'Pershing Square North' 와 'Broadway & E 22 St ' 에 반납한 자전거의 주행시간을 적절한 그래프로 나타내세요.

In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
from scipy import stats
import platform                

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus']= False

if platform.system() == 'Darwin': #맥os 사용자의 경우
    plt.style.use('seaborn-darkgrid') 
    rc('font', family = 'AppleGothic')

In [46]:
df=pd.read_csv("nyc_citibike.csv", encoding='utf-8')

In [47]:
df.head()

,start_date,end_date,start_hour,end_hour,trip_duration,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,usertype,birth_year,gender,day_since_register
0,2018-05-01,2018-05-01,4,4,390,3002,South End Ave & Liberty St,40.711512,-74.015756,79,Franklin St & W Broadway,40.719116,-74.006667,21105,Subscriber,1945,male,36
1,2018-05-01,2018-05-01,1,1,854,3611,Vernon Blvd & 47 Rd,40.744907,-73.953457,3572,34 Ave & 38 St,40.756913,-73.921631,32219,Subscriber,1998,male,29
2,2018-05-01,2018-05-01,4,4,526,515,W 43 St & 10 Ave,40.760094,-73.994618,388,W 26 St & 10 Ave,40.749718,-74.002950,33433,Subscriber,1954,male,55
3,2018-05-01,2018-05-01,3,3,885,3641,Broadway & W 25 St,40.742869,-73.989186,336,Sullivan St & Washington Sq,40.730477,-73.999061,32028,Subscriber,1963,male,32
4,2018-05-01,2018-05-01,1,1,324,3440,Fulton St & Adams St,40.692418,-73.989495,3308,Kane St & Clinton St,40.686176,-73.996453,26425,Subscriber,1965,male,34

In [48]:
df.describe()

,start_hour,end_hour,trip_duration,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,birth_year,day_since_register
count,72035.000000,72035.000000,7.203500e+04,72035.000000,72035.000000,72035.000000,72035.000000,72035.000000,72035.000000,72035.000000,72035.000000,72035.000000
mean,14.176775,14.372916,1.046751e+03,1535.681488,40.738587,-73.983531,1537.181287,40.738292,-73.983435,26139.737683,1977.994947,30.468522
std,4.809857,4.854897,8.139700e+03,1418.093403,0.029777,0.018456,1420.198780,0.029736,0.018639,5793.540983,11.868175,17.341855
min,0.000000,0.000000,6.100000e+01,72.000000,40.646538,-74.025353,72.000000,40.646538,-74.044247,14529.000000,1885.000000,1.000000
25%,10.000000,10.000000,3.980000e+02,382.000000,40.718939,-73.995481,382.000000,40.718939,-73.995299,20533.000000,1969.000000,15.000000
50%,15.000000,15.000000,6.810000e+02,504.000000,40.740343,-73.986580,503.000000,40.739974,-73.986580,27840.000000,1980.000000,30.000000
75%,18.000000,18.000000,1.201000e+03,3223.000000,40.758997,-73.973747,3224.000000,40.758924,-73.973747,30995.000000,1988.000000,46.000000
max,23.000000,23.000000,1.344462e+06,3680.000000,40.814394,-73.907744,3680.000000,40.814394,-73.907744,33671.000000,2002.000000,60.000000

In [49]:
df.isnull().sum()

start_date                 0
end_date                   0
start_hour                 0
end_hour                   0
trip_duration              0
start_station_id           0
start_station_name         0
start_station_latitude     0
start_station_longitude    0
end_station_id             0
end_station_name           0
end_station_latitude       0
end_station_longitude      0
bike_id                    0
usertype                   0
birth_year                 0
gender                     0
day_since_register         0
dtype: int64

In [50]:
PSN=df.loc[df['end_station_name'] == 'Pershing Square North', 'trip_duration']
PSN

497       893
631       682
746       316
862      1086
884       317
         ...
70401     557
70831     489
70852     493
70996     622
71774     750
Name: trip_duration, Length: 750, dtype: int64

In [51]:
Broadway = df.loc[df['end_station_name'] == 'Broadway & E 22 St', 'trip_duration']
Broadway

372      1155
567       591
719       500
1078      743
1362      503
         ...
69474     894
70294     532
70671    1878
70828     285
71611     990
Name: trip_duration, Length: 448, dtype: int64

# 독립표본 T-test

### T-test
#### 귀무가설은 무엇일까요?

H0 : μ1= μ2 (두집단의 평균 주행시간은 같다)

#### 어떤 T-test 를 적용해야할까요?

독립표본 t-test

#### 분석해봅시다!

In [55]:
np.random.seed(0)

In [56]:
print(PSN.mean() , Broadway.mean())

795.24 732.6763392857143

In [57]:
#30개의 표본으로 검정할것임
group1=np.random.choice(PSN,30,replace=False)
group2=np.random.choice(Broadway, 30, replace=False)

In [59]:
tTestresult= stats.ttest_ind(group1, group2)
print(tTestresult)

Ttest_indResult(statistic=-0.1405195680444202, pvalue=0.8887363743704384)

In [60]:
tTestResultDiffVar= stats.ttest_ind(group1, group2, equal_var=False)
print(tTestResultDiffVar)

Ttest_indResult(statistic=-0.1405195680444202, pvalue=0.8888427687345779)

#### 분석 결과를 해석해주세요

두 집단의 분산이 같을 때의 p-value는 0.8887, 분산이 다를 때의 p-value는 0.888 정도로 두 경우 모두 적정유의확률 0.05보다 월등하게 높으므로 'Pershing Square North' 와 'Broadway & E 22 St ' 의 주행시간(trip_duration) 의 평균은 다르다.