In [2]:
from tensorflow.keras.datasets import imdb

In [3]:
import sys
sys.setrecursionlimit(20000)

In [4]:
import numpy as np
# save np.load
old = np.load

# modify the default parameters of np.load
np.load = lambda *a, **k: old(*a, allow_pickle=True)

# call load_data with allow_pickle implicitly set to true
(train_data, train_labels), (test_data, test_labels) = imdb.load_data(num_words=10000)

# restore np.load for future normal usage
np.load = old

In [5]:
train_data[0]

[1,
 14,
 22,
 16,
 43,
 530,
 973,
 1622,
 1385,
 65,
 458,
 4468,
 66,
 3941,
 4,
 173,
 36,
 256,
 5,
 25,
 100,
 43,
 838,
 112,
 50,
 670,
 2,
 9,
 35,
 480,
 284,
 5,
 150,
 4,
 172,
 112,
 167,
 2,
 336,
 385,
 39,
 4,
 172,
 4536,
 1111,
 17,
 546,
 38,
 13,
 447,
 4,
 192,
 50,
 16,
 6,
 147,
 2025,
 19,
 14,
 22,
 4,
 1920,
 4613,
 469,
 4,
 22,
 71,
 87,
 12,
 16,
 43,
 530,
 38,
 76,
 15,
 13,
 1247,
 4,
 22,
 17,
 515,
 17,
 12,
 16,
 626,
 18,
 2,
 5,
 62,
 386,
 12,
 8,
 316,
 8,
 106,
 5,
 4,
 2223,
 5244,
 16,
 480,
 66,
 3785,
 33,
 4,
 130,
 12,
 16,
 38,
 619,
 5,
 25,
 124,
 51,
 36,
 135,
 48,
 25,
 1415,
 33,
 6,
 22,
 12,
 215,
 28,
 77,
 52,
 5,
 14,
 407,
 16,
 82,
 2,
 8,
 4,
 107,
 117,
 5952,
 15,
 256,
 4,
 2,
 7,
 3766,
 5,
 723,
 36,
 71,
 43,
 530,
 476,
 26,
 400,
 317,
 46,
 7,
 4,
 2,
 1029,
 13,
 104,
 88,
 4,
 381,
 15,
 297,
 98,
 32,
 2071,
 56,
 26,
 141,
 6,
 194,
 7486,
 18,
 4,
 226,
 22,
 21,
 134,
 476,
 26,
 480,
 5,
 144,
 30,
 5535,
 18,
 51,
 36,
 28,
 224,
 92,
 25,
 104,
 4,
 226,
 65,
 16,
 38,
 1334,
 88,
 12,
 16,
 283,
 5,
 16,
 4472,
 113,
 103,
 32,
 15,
 16,
 5345,
 19,
 178,
 32]

In [6]:
def vectorize_sequences(sequences, dimension=10000):
    # 크기가 (len(sequences), dimension))이고 모든 원소가 0인 행렬을 만듭니다
    results = np.zeros((len(sequences), dimension))
    for i, sequence in enumerate(sequences):
        results[i, sequence] = 1.  # results[i]에서 특정 인덱스의 위치를 1로 만듭니다
    return results

# 훈련 데이터를 벡터로 변환합니다
x_train = vectorize_sequences(train_data)
# 테스트 데이터를 벡터로 변환합니다
x_test = vectorize_sequences(test_data)

In [7]:
# 레이블을 벡터로 바꿉니다
y_train = np.asarray(train_labels).astype('float32')
y_test = np.asarray(test_labels).astype('float32')

In [14]:
model = models.Sequential()
model.add(layers.Dense(16, activation='relu', input_shape=(10000,)))
model.add(layers.Dense(16, activation='relu'))
model.add(layers.Dense(1, activation='sigmoid'))

model.compile(optimizer='rmsprop',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(x_train, y_train, epochs=4, batch_size=512)

Train on 25000 samples
Epoch 1/4
25000/25000 [==============================] - 2s 65us/sample - loss: 0.4492 - accuracy: 0.8218
Epoch 2/4
25000/25000 [==============================] - 1s 44us/sample - loss: 0.2580 - accuracy: 0.9099
Epoch 3/4
25000/25000 [==============================] - 2s 61us/sample - loss: 0.1968 - accuracy: 0.9309
Epoch 4/4
25000/25000 [==============================] - 1s 36us/sample - loss: 0.1670 - accuracy: 0.9406

In [15]:
results = model.evaluate(x_test, y_test)
results

25000/25000 [==============================] - 2s 88us/sample - loss: 0.2999 - accuracy: 0.8826

[0.29988938206672666, 0.88264]

# 모델 성능 높이기

In [ ]:
#dense layer(Dense(8, init='uniform', activation='relu')
# 첫번째 = 출력 뉴런 수 
# init : 가중치 초기화 방법 설정.‘uniform’ : 균일 분포 ‘normal’ : 가우시안 분포

In [ ]:
#optimizer
# SGD:
# ADAM: adaptive moment estimation (평균뿐 아니라 분산까지 고려한 복잡한 지수 감쇠(exponential decay))
# RMSPROP: root mean squared error

In [73]:
np.random.seed(0)
model_2 = models.Sequential()
model_2.add(layers.Dense(32,activation='relu', input_shape=(10000,)))
model_2.add(layers.Dense(15, activation='relu'))
model_2.add(layers.Dense(1, activation='sigmoid'))

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(x_train, y_train, epochs=3, batch_size=512)
results = model.evaluate(x_test, y_test)
results

Train on 25000 samples
Epoch 1/3
25000/25000 [==============================] - 2s 74us/sample - loss: 5.2056e-05 - accuracy: 1.0000
Epoch 2/3
25000/25000 [==============================] - 1s 37us/sample - loss: 0.0012 - accuracy: 0.9996
Epoch 3/3
25000/25000 [==============================] - 1s 35us/sample - loss: 0.0083 - accuracy: 0.9976
25000/25000 [==============================] - 1s 56us/sample - loss: 2.1218 - accuracy: 0.8400

[2.1218098159624543, 0.84004]

# tripadvisor 평점 분류

In [19]:
import pandas as pd

In [29]:
df = pd.read_csv('hotel_clean.csv')
df.head()

                                              review
0  four season hotel georg v live reput world cla...
1  year stay georg v sever time last visit pari s...
2  wife stay one night may terribl ama waterway r...
3  stay mani time last year also state crillon br...
4  book delux room night night cca dollar night p...

In [30]:
data=np.load('hotel_input.npy')

In [49]:
data.shape

(56, 174)

In [47]:
# 전처리한 트립 어드바이저 평점 3점 데이터들을 원핫인코딩을 통해 벡터로 변환
put_data = vectorize_sequences(data)

In [51]:
# 평점이 긍정일 확률
model.predict(put_data)

array([[0.1926637 ],
       [0.5887883 ],
       [0.33562857],
       [0.3435468 ],
       [0.57670736],
       [0.20742871],
       [0.32747525],
       [0.33926785],
       [0.31908864],
       [0.9633425 ],
       [0.60443443],
       [0.8225457 ],
       [0.44721234],
       [0.28281456],
       [0.37006494],
       [0.01359234],
       [0.45783237],
       [0.23852642],
       [0.6839976 ],
       [0.35564864],
       [0.2946137 ],
       [0.6858793 ],
       [0.9787893 ],
       [0.62870085],
       [0.25155675],
       [0.6915426 ],
       [0.7880056 ],
       [0.52696174],
       [0.46438885],
       [0.20772111],
       [0.52503467],
       [0.5718758 ],
       [0.44996685],
       [0.471492  ],
       [0.5999816 ],
       [0.40698513],
       [0.02331273],
       [0.888682  ],
       [0.33062437],
       [0.5253321 ],
       [0.07331323],
       [0.12759921],
       [0.45600834],
       [0.7374174 ],
       [0.6453208 ],
       [0.05762992],
       [0.64020777],
       [0.39166394],
       [0.85148615],
       [0.35203865],
       [0.4682744 ],
       [0.7230453 ],
       [0.1163703 ],
       [0.6290153 ],
       [0.88109976],
       [0.65318704]], dtype=float32)