# T-test

In [13]:
import pandas as pd
from scipy import stats # 통계 모듈 불러오기
import numpy as np

data = pd.read_csv("nyc_citibike.csv")
data

,start_date,end_date,start_hour,end_hour,trip_duration,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,usertype,birth_year,gender,day_since_register
0,2018-05-01,2018-05-01,4,4,390,3002,South End Ave & Liberty St,40.711512,-74.015756,79,Franklin St & W Broadway,40.719116,-74.006667,21105,Subscriber,1945,male,36
1,2018-05-01,2018-05-01,1,1,854,3611,Vernon Blvd & 47 Rd,40.744907,-73.953457,3572,34 Ave & 38 St,40.756913,-73.921631,32219,Subscriber,1998,male,29
2,2018-05-01,2018-05-01,4,4,526,515,W 43 St & 10 Ave,40.760094,-73.994618,388,W 26 St & 10 Ave,40.749718,-74.002950,33433,Subscriber,1954,male,55
3,2018-05-01,2018-05-01,3,3,885,3641,Broadway & W 25 St,40.742869,-73.989186,336,Sullivan St & Washington Sq,40.730477,-73.999061,32028,Subscriber,1963,male,32
4,2018-05-01,2018-05-01,1,1,324,3440,Fulton St & Adams St,40.692418,-73.989495,3308,Kane St & Clinton St,40.686176,-73.996453,26425,Subscriber,1965,male,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72030,2018-05-01,2018-05-01,23,23,207,3452,Bayard St & Leonard St,40.719156,-73.948854,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,16883,Subscriber,1994,female,12
72031,2018-05-01,2018-05-01,23,23,356,151,Cleveland Pl & Spring St,40.722104,-73.997249,319,Fulton St & Broadway,40.711066,-74.009447,17406,Subscriber,1994,male,21
72032,2018-05-01,2018-05-01,22,23,516,526,E 33 St & 5 Ave,40.747659,-73.984907,435,W 21 St & 6 Ave,40.741740,-73.994156,29964,Subscriber,1975,male,37
72033,2018-05-01,2018-05-01,22,23,427,379,W 31 St & 7 Ave,40.749156,-73.991600,477,W 41 St & 8 Ave,40.756405,-73.990026,20511,Subscriber,1972,male,14
72034,2018-05-01,2018-05-01,23,23,417,445,E 10 St & Avenue A,40.727408,-73.981420,285,Broadway & E 14 St,40.734546,-73.990741,17772,Subscriber,1993,male,11

## 단일 표본 T-test 

전체 데이터를 모집단으로 여기고, 30개의 표본을 추출해 모평균에 대한 단일 표본 T-test 를 진행해보자

In [14]:
# trip_duration의 평균, 표준편차

avg = data['trip_duration'].mean()
std = data['trip_duration'].std()
print('평균 :',avg,'표준 편차 :',std)

평균 : 1046.7510515721524 표준 편차 : 8139.699710992532

### H0: $\mu$ = 1046 , n=30

In [15]:
# 랜덤하게 30개의 난수를 추출

np.random.seed(1)
trip_duration = data.trip_duration
trip_duration = np.array(trip_duration)
rand_30 = np.random.choice(trip_duration, 30)

In [16]:
#단일 표본 t-test 

tTestResult= stats.ttest_1samp(rand_30,1046) #stats.ttest_1samp -> 단일 표본 ttest
print("T-statistic : %.3f  p-value : %.3f" % tTestResult)

T-statistic : -0.681  p-value : 0.501

#### p-value 가 0.05보다 월등히 크므로 H0 를 기각할 수 없다. 즉, 모평균은 1046이다.

# 독립 표본 T-test
전체 데이터를 모집단으로 여기고,독립 표본 T-test 를 진행해보자.  
사람들이 자전거를 대여하는 장소와 반납하는 장소가 비슷한지 알아보기 위해   
대여하는 장소의 위도의 평균이 반납하는 장소의 위도의 평균과 같은지 30개의 표본으로 검정해보자.

In [17]:
a = data['start_station_latitude'].mean()
b = data['end_station_latitude'].mean()
print(a,b)

40.73858673460289 40.738291793803405

### H0: $\mu_x=\mu_y$

In [18]:
#독립 표본 t-검정
np.random.seed(2)

group1 = np.random.choice(trip_duration, 30) 
group2 = np.random.choice(trip_duration, 30) 

#두 집단의 분산이 같을 때의 결과
tTestResult= stats.ttest_ind(group1, group2)
 
#두 집단의 분산이 다를 때의 결과
tTestResultDiffVar= stats.ttest_ind(group1, group2, equal_var=False)
 
print("두 집단의 분산이 같을 때 t-statistic: %.3f p-value : %.3f." % tTestResult)
print("두 집단의 분산이 다를 때 t-statistic: %.3f p-value : %.3f."  % tTestResultDiffVar)

두 집단의 분산이 같을 때 t-statistic: -0.585 p-value : 0.561.
두 집단의 분산이 다를 때 t-statistic: -0.585 p-value : 0.561.

>* 모집단의 분산이 같을 때와 같지 않을 때 구분해서 사용해야합니다!  
구분하는 방법을 지금 다루지 않을 거라 두 경우의 코드를 모두 보려드렸어요.
#### p-value 가 0.05 보다 월등히 크기 떄문에 귀무가설을 기각할 수 없다. 즉, 대여 지점 과 반납 지점의 평균이 같다.

# 대응 표본 T-test

nyc citibike 회사에서 자전거 대여 요금 할인 이벤트를 진행했다고 한다.  
이벤트 이후 사람들의 대여시간이 달라졌는지 알아보자.  
(이벤트 외의 다른 모든 조건은 동일하다고 가정한다.)

In [19]:
data = pd.read_csv('event_effect.csv')
data.head()

   id  trip_duration_before  trip_duration_after
0   1            301.728750           405.901958
1   2            304.366383           458.114289
2   3            373.389837           533.215894
3   4            391.290559           576.666999
4   5            396.624250           585.691675

### H0: $\mu_d=0$

In [20]:
stats.ttest_rel(data['trip_duration_before'],data['trip_duration_after'])

Ttest_relResult(statistic=-84.87014559504613, pvalue=1.0876472817241415e-298)

#### p-value 가 0.05보다 작기 떄문에 귀무가설을 기각한다. 즉, 할인 이벤트 전후로 대여 시간에 차이가 있다.